<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <div style="text-align: center; margin-top: 50%; padding: 0px 20px;">
        <img src="../../assets/logo/Eduyugam Logo edit.svg" alt="" style="width: 50%; margin-bottom: 10%;">
        <ion-button shape="round" expand="block" routerLink="/login-register">Student Login</ion-button>
        <ion-button shape="round" expand="block" id="last">Franchise Login</ion-button>
    </div>

</ion-content>