ion-content {
    --background: url('../../assets/bg-img/bg.jpg') 0 0/100% 100% no-repeat;
}

h4 {
    font-family: 'SFProDisplay-Semibold';
}

h6 {
    font-family: 'SFProDisplay-Semibold';
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}