ion-content {
    --background: url('../../assets/bg-img/bg.jpg') 0 0/100% 100% no-repeat;
}

ion-button {
    font-family: 'SFProDisplay-Bold';
    text-transform: none;
    height: 50px;
    --color: white;
    --background: linear-gradient(to right, #A44DFD 10%, #4A41F6 80%);
}

h5 {
    font-family: 'SFProDisplay-Regular';
    color: #5E59CC;
    text-align: justify;
}