<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login-register" icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div style="padding: 0px 30px; margin-top: 40%;">
        <div>
            <h5><strong>That's okay, it happens!</strong> Please enter your registered<strong> email ID </strong>and click on the <strong> 'Send Password Reset Mail' </strong>, we will send you a mail to reset password...</h5>
        </div>
        <ion-item lines="none" style="--background: #EEEEEE;
    border-radius: 25px; margin-top: 25px;">
            <ion-input placeholder="Email Address"></ion-input>
        </ion-item>

        <div style="margin-top: 25px;">
            <ion-button shape="round" expand="block">Send Password Reset Mail</ion-button>
        </div>
    </div>


</ion-content>