/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: SFProDisplay-Regular;
    src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: SFProDisplay-Semibold;
    src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

@font-face {
    font-family: SFProDisplay-Bold;
    src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}

@font-face {
    font-family: SFProDisplay-Light;
    src: url("../src/assets/fonts/FontsFree-Net-SFProDisplay-Light-1.ttf");
}

@font-face {
    font-family: SFProText-Light;
    src: url("../src/assets/fonts/FontsFree-Net-SFProText-Light-1.ttf");
}

ion-toolbar {
    --background: linear-gradient(to right, #A44DFD 10%, #4A41F6 80%);
}

ion-title {
    color: white;
    // font-family: Lato_Black;
    // font-size: 20px;
    // position: relative;
    // right: 20px;
}

ion-back-button {
    color: white;
    --icon-font-size: 2rem;
}

ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 30px;
            box-shadow: none;
        }
    }
}

ion-spinner {
    --color: white;
    margin-right: 20px;
}